@import '../index.scss';

.login-card > .ant-card {
    width: 400px;
    margin: auto;
  }

  .login-btn {
      display: flex;
      justify-content: center;
      margin-top: 20px
  }
.login-card {
    .ant-card-head-title {
        font-size: 35px;
        text-align: center;
        margin-top: 50px;
      }
}
.login-bg {
  background-image: url("../assets/images/tinypeople.jpg");
  height: 100vh;
}
  