@import '../index.scss';

.signup-card > .ant-card {
    width: 800px;
  }

  .signup-btn {
      display: flex;
      justify-content: center;
      margin-top: 20px
  }
.signup-card {
    .ant-card-head-title {
        font-size: 25px;
        text-align: center;
        margin-top: 50px;
      }
}
.signup-bg {
    background-image: url("../assets/images/task.jpg");
}
  